<center>
<div>
<div ng-hide="edittt">
<br><br><br>
<label>Name:</label>
<p>{{dataa[0].username}}</p>
<br>
<label>Phone:</label>
<br>
<p>{{dataa[0].phone}}</p>
<br>
<p>Cars:</p>
<div ng-repeat=" elem in dataa" >
    
    <img ng-src = {{elem.image}} style="width: 200px"></img>
    <br>
    <p>{{elem.type}}</p>
    <br>    
    <p>{{elem.color}}</p>
    <br>
    <p>{{elem.operation}}</p>
    <br>
    <p>{{elem.price}}</p>
    <br>
    <button ng-click = "edit(elem)">EDIT</button>
    <button ng-click = "removee">DELETE</button>
    
</div>
   
</div>
<!-- <edit ng-show="edittt" ></edit> -->
</div>
</center>