<div class = "show" class="container">
  <img ng-src="{{$ctrl.car.image}}" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#{{$ctrl.car._id}}" style="width: 350px; height: 200px; background-color: LightGray;">
  <br/>

  <div class="modal fade" id={{$ctrl.car._id}} role="dialog">
    <div class="modal-dialog">
      
      <!-- Modal content-->
      <div class="modal-content" style="background-color: LightGray">
        <div class="modal-header">
          <center>
            <button type="button" class="close" data-dismiss="modal"></button>
            <h4 class="modal-title">
            <img ng-src = {{$ctrl.car.image}} style="width: 400px; height: 400px"></img></h4>
          </center>
         </div>
         <div class="modal-body">
          <p><h3>{{$ctrl.car.type}}</h3>
           <br/>
           <b>Color :</b> {{$ctrl.car.color}} 
           <br/>
           <b>Price :</b> {{$ctrl.car.price}}
           <br/>
           <b>Name :</b> {{$ctrl.car.username}}
           <br/>
           <b>Number Phone :</b> {{$ctrl.car.phone}}
         </p>
         <br>          
        <div class="row content" >
            <div class="col-sm-1 sidenav"></div>
              <form method='post' class="col-sm-11 sidenav" >
                <p ng-hide = '$ctrl.userinfo.length!== 0'>You can't add comments without logging in</p>
                <p ng-show = '$ctrl.userinfo.length!== 0' style="font-weight:900 ">Comment:</p> 
                <textarea ng-show = '$ctrl.userinfo.length!== 0' ng-model="$ctrl.coment" name='comment' id='comment' style="width: 70%;background-color: #e6e6e6"></textarea><br />
                <input ng-show = '$ctrl.userinfo.length!== 0' class='sendbtn' ng-click ='$ctrl.sendComent()' type='submit' value='Post' onClick='reset ()'/>
                <input ng-show = '$ctrl.userinfo.length!== 0' class='sendbtn' ng-click ='$ctrl.getComents()' type='submit' value='Show comments' onClick='reset ()'/>  
              </form>
            </div>
            <div ng-repeat ="coment in $ctrl.coments" style="background-color: #e6e6e6" >
              <div href="#" class="list-group-item list-group-item" 
              style="width:300px ;height:75px;text-align: left ;margin-top:5px;margin-left:150px ;font-weight: 900;font-family: tahoma;background-color: #e6e6e6" >
              {{coment.username}} :<br><p style="font-weight: 100;font-family: Arial;background-color: #e6e6e6">{{coment.txt}}</p>
            </div> 
                </div>
       <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" style="background-color: #e6e6e6">Close</button>
      </div>
    </div>
  </div>
</div>
</div>